p.customdoclinks {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

a.image-reference {
    width: auto;
    height: auto;
}

div.figure {
    width: auto;
    height: auto;
}
